<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/css/style.css">	
    <script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
</head>
	{{{body}}}
</html>