<link rel="stylesheet" href="/css/index.css">

<form class="m">
     <input id="m" autocomplete="off" /><button>发送</button>
</form>
<script src="/js/layer/layer.js"></script>
<script src="http://cdn.bootcss.com/socket.io/1.4.8/socket.io.min.js"></script>